/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --nav-height: 80px;
  --cat-height: 6rem;

  /*========== Color Reference ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --second-hue: 211;
  --first-color: hsl(349, 100%, 61%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(0, 0%, 44%);
  --border-color: hsl(0, 0%, 87%);
  --body-color: hsl(0, 0%, 100%);
  --footer-color: hsl(0, 0%, 97%);

  /*========== Font and typography ==========*/
  --body-font: "Noto Sans TC", sans-serif;
  --biggest-font-size: 21px;
  --normal-font-size: 14px;
  --small-font-size: 12px;

  /*========== Font weight ==========*/
  --font-light: 100;
  --font-regular: 300;
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 968px) {
  :root {
    --biggest-font-size: 18px;
    --normal-font-size: 10px;
    --small-font-size: 5px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: none;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: var(--first-color);
  color: var(--body-color);
  border-radius: 10px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 2rem 0 1rem;
}

/*=============== HEADER & NAV===============*/
header {
  position: fixed;
  top: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: all 0.4s ease;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--body-color);
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
}

.logo__container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  color: var(--first-color);
  cursor: pointer;
}

.search__sm {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  column-gap: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 10rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.2s ease;
}

.search__sm:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}

.search__sm-devider {
  border-right: 0.5px solid var(--border-color);
  height: 20px;
}

.search__sm-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.search__icon {
  background-color: var(--first-color);
  border-radius: 10rem;
  color: var(--body-color);
  display: block;
  fill: none;
  stroke: var(--body-color);
  stroke-width: 5;
  overflow: visible;
  height: 32px;
  width: 32px;
  padding: 10px;
  cursor: pointer;
}

.nav__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: max-content;
  column-gap: 1rem;
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.nav__text {
  cursor: pointer;
}

.account__icon {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.devider {
  border-top: 0.5px solid rgb(0, 3, 2);
}

/*=============== SLIDER ===============*/
.category {
  display: grid;
  grid-template-columns: 8fr 1fr;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
  height: var(--cat-height);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.category.scroll-category {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
  /* height: calc(var(--cat-height)-80px); */
  padding-top: 0.5rem;
}

.carousel {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
  column-gap: 2.5rem;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging {
  pointer-events: none;
}

.slider__wrapper {
  margin-top: 1rem;
  max-width: 1200px;
  display: flex;
  overflow: hidden;
}

.slider__item:first-child {
  margin-left: 0;
}

.slider-icon {
  font-size: 20px;
  align-self: center;
  cursor: pointer;
  transition: 0.4s;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 10rem;
  padding: 1px 2px;
}

.slider-icon-prev {
  color: var(--container-color);
}

.slider-icon-next:hover {
  transform: translateX(0.45rem);
}

.slider-icon-prev:hover {
  transform: translateX(-0.45rem);
}

.slider__item {
  display: grid;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
  opacity: 70%;
  transition: 0.4s ease;
}

.slider__img {
  width: 25px;
  justify-self: center;
}

.slider__item:hover {
  opacity: 100%;
}

.slider__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.silder__filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  padding: 10px;
  font-size: var(--smaller-font-size);
  cursor: pointer;
}

/* For small devices */
@media screen and (max-width: 657px) {
  .new__arrivals {
    display: block;
    padding-top: 0rem;
  }

  .newitem__img {
    width: max-content;
  }
}

@media screen and (max-width: 500px) {
  .new__item {
    width: calc(100% / 1);
  }
}

/*=============== MAIN BOARD ===============*/
main {
  margin-top: calc(var(--nav-height) + var(--cat-height));
}

.main__board {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(297px, 1fr));
}

.card {
  display: grid;
  justify-content: space-between;
  width: 297px;
  height: 410px;
}

.img__container {
  position: relative;
  cursor: pointer;
}

.card__img {
  border-radius: 1rem;
  width: 297px;
  height: 290px;
  object-fit: cover;
}

.wishlist__icon {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 2;
  overflow: visible;
  z-index: var(--z-tooltip);
}

.info__container {
  display: flex;
  flex-direction: column;
  font-size: var(--normal-font-size);
}

.card__title {
  color: var(--text-color);
}

.card__subtitle,
.card__desc {
  color: var(--text-color-light);
  font-weight: var(--font-light);
}

.card__price {
  margin-top: 10px;
}

/* Continue Btn */
.continue {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.continue span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.continue button {
  background-color: var(--text-color);
  color: var(--body-color);
  border-radius: 10px;
  padding: 1rem 2rem;
}

/*=============== SWIPER ===============*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper i {
  color: black;
  background-color: var(--body-color);
  border-radius: 50%;
  position: absolute;
  font-size: 20px;
  padding: 2px 3px;
  opacity: 0%;
  top: 50%;
  z-index: var(--z-tooltip);
  transition: 0.2s ease;
}

.img__container:hover .swiper i,
.img__container:hover .swiper i:not(:hover) {
  opacity: 1000%;
}

.img__container:hover .swiper i:not(:hover) {
  opacity: 70%;
}

.imgSwiper-right {
  right: 10px;
}

.imgSwiper-left {
  left: 10px;
}

/*=============== FOOTER ===============*/
footer {
  display: grid;
  background-color: var(--footer-color);
}

.footer__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
}

.footer__cat {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: var(--normal-font-size);
  display: grid;
  row-gap: 1.5rem;
}

.cat__tabs{
  display: flex;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  column-gap: 20px;
}

.tab-button {
  cursor: pointer;
  transition: 0.4s ease;
}

.tab-button:hover {
  color: var(--text-color);
}

.footer__help {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--normal-font-size);
}

.footer__help-grid {
  display: grid;
}

.help__title {
  color: var(--text-color);
}

.help__subtitle {
  color: var(--text-color-light);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--normal-font-size);
}

.copyright__text {
  color: var(--text-color-light);
}

.copyright__text a {
  color: var(--text-color-light);
  transition: 0.2s ease;
}

.copyright__text a:hover {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.social__icons {
  display: flex;
  column-gap: 10px;
}

.socialIcon {
  display: block;
  height: 18px;
  width: 18px;
  fill: var(--text-color);
  border-radius: 3px;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 50%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 34%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 435px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (min-width: 365px) {
}

@media screen and (max-width: 350px) {
}

/* For medium devices */
@media screen and (min-width: 568px) {
}

@media screen and (min-width: 767px) {
}

/* For large devices */
@media screen and (min-width: 996px) {
}

@media screen and (min-width: 996px) and (min-height: 700px) {
}
